@import './config';
@import './wrapper';
@import './toc';

html, body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Futura PT;
  src: url('/images/assets/fonts/FuturaPTBold.otf');
  font-weight: bold;
}

body {
  font-family: Futura PT;
  font-style: normal;
  font-weight: 600;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $textColor;
}

.page {
  padding-left: $sidebarWidth;
  background: #fff;
}

.page-main {
  padding-left: 0;
  margin-top: -6px;
  padding-top: 0;
}

.main-picture {
  margin-top: -129px;
}

.navbar {

  display: flex;
  align-items: center;

  background-image: url(/images/assets/navbar_background.png);
  background-repeat: no-repeat;
  background-size: 100%;

  width: 1400px;

  position: fixed;
  z-index: 20;
  top: 0;
  height: $navbarHeight;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.navbar-main {
  display: flex;
  background: none;
  align-items: center;

  background-repeat: no-repeat;
  background-size: 100%;

  width: 1400px;
  position: relative;
  z-index: 20;
  top: 0;
  height: 129px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;

  .nav-item {
    background: none;
  }

  .links {
    box-sizing: border-box;
    background-color: none;
    white-space: nowrap;
    position: absolute;
    right: 1.5rem;
    display: flex;
    color: #3C3C3B;
    background: none;
  }
}

.footer-nav {
  height: 280px;
  border-top: 1px solid #C4C4C4;
  width: 1380px;
  background: #E5E5E5;
  display: flex;
  flex-grow: row;

  &__about {
    padding: 50px 30px;
    width: 225px;
    height: 52px;
    color: #575756;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
  }

  .nav-links {
    padding-top: 50px;
    padding-right: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
  }

  .router-link-active {
    color: #3C3C3B !important;
    border-bottom: none !important;
  }

  .router-link-active:hover {
    color: #3C3C3B !important;
    border-bottom: none !important;
  }

  .sidebar-mask {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
  }

  .sidebar {
    font-size: 15px;
    background-color: #fff;
    width: $sidebarWidth;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: $navbarHeight;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid $borderColor;
    overflow-y: auto;
  }

  .content:not(.custom) {

    @extend .wrapper;

    > *:first-child {
      margin-top: $navbarHeight;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  p.demo {
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  img {
    max-width: 100%;
  }
}

.content.custom {
  padding: 0;
  margin: 0;

  img {
    max-width: 100%;
  }
}

a {
  font-weight: 500;
  color: $accentColor;
  text-decoration: none;
}

p a code {
  font-weight: 400;
  color: $accentColor;
}

kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}

blockquote {
  font-size: 1.2rem;
  color: #999;
  border-left: .25rem solid #dfe2e5;
  margin-left: 0;
  padding-left: 1rem;
}

ul, ol {
  padding-left: 1.2em;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {

  font-weight: 600;
  line-height: 1.25;

  .content:not(.custom) > & {

    //margin-top: (0.5rem - $navbarHeight);
    //padding-top: ($navbarHeight + 1rem);
    margin-bottom: 0;

    &:first-child {
      margin-top: -1.5rem;
      margin-bottom: 1rem;

      + p, + pre, + .custom-block {
        margin-top: 2rem;
      }
    }
  }
  &:hover .header-anchor {
    opacity: 1;
  }
}
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid $borderColor;
}

h3 {
  font-size: 1.35rem;
}

a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;

  &:hover {
    text-decoration: none;
  }
}

code, kbd, .line-number {
    font-family: Futura PT;
}

p, ul, ol {
  line-height: 1.7;
}

hr {
  border: 0;
  border-top: 1px solid $borderColor;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

tr {
  border-top: 1px solid #dfe2e5;

  &:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

th, td {
  border: 1px solid #dfe2e5;
  padding: .6em 1em;
}

.custom-layout {
  padding-top: $navbarHeight;
}

.theme-container {
  background-image: url(/images/assets/background2.jpg), url(/images/assets/background1.jpg);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: 50% 100%;
  display: flex;
  background-position: right bottom, left top;
  flex-direction: column;
  align-items: center;


  &.sidebar-open {
    .sidebar-mask {
      display: block;
    }
  }

  &.no-navbar {
    .content:not(.custom) > h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5rem;
      padding-top: 0;
    }

    .sidebar {
      top: 0;
    }

    .custom-layout {
      padding-top: 0;
    }
  }
}

@media (max-width: ($MQMobile)) {

  .main-picture {
    display: none;
  }

  .page {
    width: 100vw !important;
    padding: 0;
    margin: 0;
  }

  .page-main {
    width: 100vw !important;
    padding: 0;
    margin: 0;
  }

  #app {
    width: 100vw !important;
  }

  .custom-layout {
    width: 100vw !important;
    background-image: none !important;
    padding: 45px 0;
    margin: 0;
  }

  .theme-container {
    width: 100vw !important;
    background-image: none !important;
    padding: 0;
    margin: 0;
  }

}

@media (min-width: ($MQMobile + 1px)) {

  .theme-container.no-sidebar {

    .sidebar {
      display: none;
    }

    .page {
      padding-left: 0;
      width: 1380px;
      background: #e5e5e5;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
      margin-top: -9px;
      padding-top: 130px;
    }

    .page-main {
      margin-top: -6px;
      padding-top: 0px;
    }
  }
}

@import './mobile';
