.main-picture--desktop {

  height: 660px;
  width: 1380px;
  background-repeat: no-repeat;
  background-size: 100%;

  &__title {

    color: #E6D4B6;
    display: block;
    position: relative;
    font-size: 36px;
    top: 100px;
    width: 100%;
    text-align: center;
  }
}