.team-details--desktop {
  margin: 15px;
  padding: 15px;
  min-height: 360px;

  &__image {
    width: 800px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
