.team-panel--desktop {
  display: flex;
  background: white;
  width: 308px;
  height: 500px;
  overflow: hidden;

  &__router-link {
    padding: 0;
    margin: 0;
    border: 0;
  }

  &__image {
    width: 308px;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    line-height: 28px;
    height: 62px;
    overflow: hidden;
    padding: 24px 11px 0px 11px;
    //width: 286px;
  }

  &__description {

    color: #D5AE75;
    font-size: 13px;
    font-style: normal;
    text-decoration: none;
    line-height: 18px;
    height: 33px;
    overflow: hidden;
    padding: 6px 19px 0px 13px;
  }
}

