.chronicle-details--desktop {
  display: block;
  width: 100%;

  &__chronicles {

    display: block;
    width: 100%;
    //padding: 15px;
    background: #fff;
  }

  &__peoples {
    padding: 15px;
  }
}
