.chronicle-panel--desktop {
  display: flex;
  background: white;
  width: 308px;
  height: 430px;

  &__image {
    width: 308px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }


  &__title {
    width: 250px;
    height: 118px;
    overflow: hidden;

    color: #3C3C3B;
    font-size: 22px;
    line-height: 28px;
    top: 40px;
    left: 30px;
    position: relative;
  }

  &__theme {
    color: #575756;
    position: relative;
    top: 15px;
    left: 30px;
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
  }

  &__event-date {
    color: #575756;
    position: relative;
    top: 65px;
    left: 30px;
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
  }
}
