.main-chronicle-panel--desktop {

  display: flex;
  flex: 1 2 auto;
  background: #E6D4B6;
  width: 645px;
  height: 362px;

  padding: 0 15px 0 15px;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 15px;
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
  }

  &__image {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(213, 174, 117, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(213, 174, 117, 1);
    box-shadow: 10px 10px 0px 0px rgba(213, 174, 117, 1);
    float: left;
    margin-right: 15px;
    margin-bottom: 11px;
  }

  &__more-details {
    color: #000000;
  }
}