.people-panel--desktop {
  display: flex;
  background: white;
  overflow: hidden;

  width: 308px;
  height: 360px;

  flex: 1 1 auto;

  &__router-link {
    //flex: 1 1 auto;
    //border: 10px solid transparent;
  }

  &__image {
    width: 100%;
  }

  &__person {
    font-size: 24px;
    line-height: 28px;
    padding: 40px 30px;
    position: relative;
    top: -160px;
    color: white;
  }

  &__position {
    color: #D5AE75;
    font-size: 13px;
    line-height: 18px;
    padding: 0 30px;
    position: relative;
    top: -169px;
  }
}
