.people-panel--desktop {
  display: flex;
  background: white;
  overflow: hidden;

  width: 308px;
  height: 360px;

  &__router-link {
  }

  &__image {

    display: flex;
    background: white;
    overflow: hidden;
    width: 318px;
    height: 360px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  &__person {
    font-size: 24px;
    line-height: 28px;
    padding: 40px 15px 15px 30px;
    height: 34px;
    overflow: hidden;;

    position: relative;
    top: -160px;
    color: white;
  }

  &__position {
    color: #D5AE75;
    font-size: 13px;
    line-height: 18px;
    padding: 0 30px;
    position: relative;
    top: -169px;
  }
}
