.theme-panel--desktop {
  display: flex;
  background: white;
  width: 307px;
  height: 430px;
  overflow: hidden;

  &__image-wrapper {
    width: 308px;
    height: 198px;

    &__image {
      width: 100%;
    }

    &__title {
      color: #3C3C3B;
      font-size: 24px;
      line-height: 28px;
      top: 40px;
      left: 30px;
      position: relative;
    }

    &__theme {
      color: #575756;
      position: relative;
      top: 15px;
      left: 30px;
      font-size: 13px;
      line-height: 18px;
      font-style: normal;
      font-weight: normal;
    }

    &__event-date {
      color: #575756;
      position: relative;
      top: 145px;
      left: 30px;
      font-size: 13px;
      line-height: 18px;
      font-style: normal;
      font-weight: normal;
    }
  }
}