.navbar--main-desktop {

  display: flex;
  align-items: center;
  width: 1400px;
  top: 0;
  height: 129px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 12px 24px;
  z-index: 10;
}