.layout-main--desktop {
  background-image:
          url(/images/assets/background2.jpg),
          url(/images/assets/background1.jpg);

  background-repeat: no-repeat,no-repeat;
  background-attachment: fixed;
  background-size: 50% 100%;
  display: flex;
  background-position: 100% 100%,0 0;
  flex-direction: column;
  align-items: center;
}